.nv-box {
  width:100%;
  .navbar {
    background-color: #e8e8e8 !important;
    padding: .5rem 0px;
  }
}

.box_content {
  background-color:#ececec;
  padding:20px;
}

.link_atras {
  margin-bottom:10px;
  a {
    color:#555;
  }
}

.box_comments {
  margin-bottom:15px;
}